DataBenchmarkSwift.xcodeproj/xcuserdata/Rumata.xcuserdatad/xcschemes/DataBenchmarkSwiftTests.xcscheme
DataBenchmarkSwift.xcodeproj/xcuserdata/Rumata.xcuserdatad/xcschemes/testTarget.xcscheme
DataBenchmarkSwift.xcodeproj/project.xcworkspace/xcuserdata/stanislav.xcuserdatad/WorkspaceSettings.xcsettings
DataBenchmarkSwift.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/testTarget.xcscheme
DataBenchmarkSwift.xcodeproj/xcuserdata/stanislav.xcuserdatad/xcschemes/xcschememanagement.plist
